.navbar{
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading{
    text-align: center;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.heading>a:hover{
    color: #ff0303d8;
}

.heading>a{
    text-decoration: none;
    color: #007bff;
    list-style-type: none;
    font-size: 40px;
    font-weight: 700;
}

.links{
    text-align:right;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.links_list{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 28px;
    justify-content: flex-end;
    font-size: 32px;
    list-style-type: none;
    margin-right: 30px;
}

.links_list>button,li>button{
    font-size: 32px;
    border: none;
    margin-top: -5px;
    padding: 0.25rem 1rem;
    background-color: white;
    margin-left: -18px;
    font-weight: normal;
}

li:hover{
    color: #007bff;
    cursor: pointer;
}

.links_list>button:hover,li>button:hover{
    color: #007bff;
    cursor: pointer;
    background-color: #cce5ff;
    border-radius: 8px;
}

.links_list li a {
    text-decoration: none;
    color: inherit;         
}

.links_list li a:hover {
    color: #007bff; 
}

@media(max-width:768px) {
    .navbar{
        flex-wrap: wrap;
    }
}

@media (max-width:585px){
    .heading{
        width: 100% !important;
    }

    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading{
        justify-content: center;
        margin-left: 0px;
    }
}

@media(max-width:450px){
    .heading>a{
        font-size: 32px !important;
    }
    .links_list{
        font-size: 24px;
    }
    .cartbutton{
        font-size: 24px;
    }
}